
body{
    max-width: 1500px;
}

* {
    box-sizing: border-box;
}

.main {
    position: relative;
}
/* ヘッダー */

.header{
    height: 60px;
    display: flex;
    justify-content: space-between;    /* ロゴ・ナビ均一横並び */
    align-items: center;               /* 修正：ロゴ・ナビ並び合わせ */
}
.header__logo img{
    width: 150px;
    margin: 0px 0px 0px 50px;          /*上下右0px 左余白20px*/

}
.header__inform li {
    margin: 20px 20px;                 /* 上下左右余白20px */
    display: inline-block;             /* リンク横並び */
}

.header__inform li:last-of-type{       /* 最後のみ余白広め */
    margin-right: 50px;
}

.header__inform {
    list-style-type: none;              /* 先頭マーク消去 */
}

.header__inform li a {
    text-decoration: none;              /* 下線消去 */
    color: rgb(127, 127, 130);
}

/* タイトル */
.title{
    position: relative;
    margin-bottom: 5vh;                /* 下余白 */
}
.title__img{
    display: block;
    margin-left: auto;                  /* 左寄せ */
}
.title__img img{
    width: 100%;
    height: auto;
}

.title__block{
    position: absolute;
    display: block;
    white-space: nowrap;                /* 折り返し禁止 */
    top: 5vh;
    left: 15vw;
}

.title__maintitle {
    position: absolute;
    line-height: 110px;
    margin: 10px 0px;
    color: rgb(203, 16, 112);
    font-size: 75px;
    font-family: 'Indie Flower', cursive;
}

.title__subitle{
    position: absolute;
    margin-top: 300px;
    margin-bottom: 20px;
    color: rgb(203, 16, 112);
    font-size: 25px;
}

.title__about{
    position: absolute;
    line-height: 30px;
    color: rgb(127, 127, 130);
    margin-top: 340px;
}
.color-sky {
    color: rgb(34, 148, 171);               /* 部分的に色変更*/
}
/*NEWS*/

.News {
    display: flex;
    margin: 5vh auto;
    flex-direction: column;
}
.News-title-block{
    margin-top: 3vh;
    margin-left: 16vw;
}
.news-text {
    color: rgb(203, 16, 112);
    font-size: 1rem;
    font-family: 'Indie Flower', cursive;
}

.news-title {
    margin: 2vh auto;
    font-size: 2rem;
    color: rgb(127, 127, 130);
}

.news-block{
    margin: 2vh auto;
    margin-left: 16vw;
    border-top: 3px solid #cecbcb;
    border-bottom: 3px solid #cecbcb;
    padding: 3vh 0px;
}

.news-list {
    list-style-type: none;
}

.item a {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;        /* 折り返し禁止 */
    font-size: 1.3rem;
    color: #333;
    border-bottom: 1px solid #CCC;
    width: 65vw;
    border-top: none;
}

.item p{
    display: inline-block;
    margin: 2.5vh auto;
}

.date {
    margin: 0.5vh auto;
    min-width: 5vw;
    font-size: 1rem;
    color: #999;
    padding: 0 20px 0 0;
}

.category {
    min-width: 5vw;
    padding: 0 20px 0 0;
}

.category span {
    background:rgb(203, 16, 112);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 1rem;
    line-height: 1;
}

.information {
    min-width: 5vw;
    color: #999;
}

/* About */
.About{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5vh auto;
    background-color:#f1eeee;
}

.about-text {
    text-align: center;
    margin-top: 3vh;
    color: rgb(203, 16, 112);
    font-size: 1rem;
    font-family: 'Indie Flower', cursive;
}

.about-title {
    text-align: center;
    margin-top: 1vh;
    font-size: 2rem;
    color: rgb(127, 127, 130);
}
.about-info{
    display: flex;
    flex-direction: row;
    margin: 5vw auto;
}

.about-info__text{
    font-size: 1.2rem;
    color: rgb(128, 126, 126);
    line-height: 2em;
    margin-left: 10em;
}

.about-info__img {
    margin-left: 15em;
    width: 25%;

}

/* Service */
.Service{
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
}

.Service-ttl-block{
    margin: 5vh 0px 5vh 12vw;
}

.service-text {
    margin: 2vh auto;
    color: rgb(203, 16, 112);
    font-size: 1rem;
    font-family: 'Indie Flower', cursive;
}

.service-title {
    font-size: 2rem;
    color: rgb(127, 127, 130);
}

.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 2vh 0px 5vh 12vw;
    width: 70vw;
    height: 50vh;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/4;
    background: rgb(203, 16, 112) url(../img/service__first.svg) no-repeat;
    background-size: 35%;
    background-position: 50% 10%;
    color: #FFF;
}
.box1__title{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 28vh;
    margin-bottom: 2vh;
}

.box1__text {
    margin: 0px 5vw;
    line-height: 4vh;
}

.box2 {
    grid-column: 2/4;
    grid-row: 1/2;
    background: rgb(184, 94, 139) url(../img/service__first.svg) no-repeat;
    background-size: 30%;
    background-position: 5% 50%;
    color: #FFF;
}

.box3 {
    grid-column: 2/4;
    grid-row: 2/3;
    background: rgb(187, 138, 162) url(../img/service__first.svg) no-repeat;
    background-size: 30%;
    background-position: 5% 50%;
    color: #FFF;
}

.box__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5vh;
    margin-bottom: 1vh;
    margin-left: 13vw;
}

.box__text {
    margin-left: 13vw;
    line-height: 28px;
}

/* Blog */
.Blog {
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    background-color: #f1eeee;

}

.Blog-ttl-block{
    margin: 5vh 0px 5vh 14vw;
}

.blog-text {
    margin: 2vh auto;
    color: rgb(203, 16, 112);
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
}

.blog-title {
    margin: 1vh auto;
    font-size: 30px;
    color: rgb(127, 127, 130);
}

.blog-flex{
    display: flex;
    justify-content: space-around;
    padding: 0 10vw;
}

.blog-card{
    width: 25%;
    background-color: #FFF;
    border-radius: 0px 0px 15px 15px;
}
.card__img{
    position: relative;
}

.img-tag {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    line-height: 1;
    border-radius: 15px 0px 0px 0px;
    padding: 5px 10px;  /*文字周りの余白*/
    color: #FFF;
    background-color: rgb(203, 16, 112);
}

.card__img img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.card__content {
    padding: 15px 20px;
}

.card__content-ttl{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

.card__content-tag {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #9e9e9e;
    margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
    .card__content-tag {
        font-size: 8px;
    }
}

.blog-btn{
    text-align: center;
    margin: 35px auto;
}

.blog-back{
    width: 200px;
    padding: 20px 0;
    color:rgb(203, 16, 112);
    border-radius: 30px;
    background-color: #FFF;
    border: 3px rgb(203, 16, 112) solid;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

/* 会社概要 */
.Company {
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
}
.Company-ttl-block {
    margin: 5vh 0px 5vh 23vw;
}

.company-text {
    margin: 20px auto;
    color: rgb(203, 16, 112);
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
}


.company-title {
    font-size: 30px;
    color: rgb(127, 127, 130);
}

table,th,td {
    border: 1px solid;
    border-color: #cfcfcf;

}
table{
    width: 55vw;
    margin: auto;
}

th{
    width: 200px;
    background-color: #e6e6e6;
    padding: 25px;
    color: rgb(91, 91, 91);
    text-align: left;
}
td{
    text-align: left;
    padding-left: 20px;
    color: rgb(127, 127, 130);
    font-weight: 600;
}

/* information */
.information{
    margin: 8vh 0vw;
}
.information__img{
    display: flex;

}
.recruit {
    position: relative;
}
.recruit img{
    width: 50vw;
    height: auto;
    /* margin-left: calc(-50vw + 50%); */
    /* background-size: cover; */
    object-position: cover;
}
.img-recruit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size:30px;
}

.interview{
    position: relative;
}
.interview img {
    width: 50vw;
    height: auto;
    /* margin-left: calc(-50vw + 50%); */
    /* background-size: cover; */
    object-position: cover;
}

.img-interview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 30px;
}

/* お問い合わせ */
.Inquiry{
    margin: 5vh auto;
}
.inquiry-text{
    position: relative;
    text-align: center;
    margin-top: 70px;
    color: rgb(127, 127, 130);
    font-weight: 600;
    font-size: 20px;
    height: 100px;
}

.inquiry-text::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 50px;
    margin: auto;
    background-color: rgb(212, 4, 153);
}

.inquiry-btn{
    position: relative;
    background: linear-gradient(to right, #ff00b7 0%, #9f0067 100%);
    box-shadow: 0px 8px 0px #7b004e;
    width: 350px;
    display: block;
    padding: 30px;
    text-align: center;
    border-radius: 50px;
    margin: 30px auto;
}
.inquiry-mail{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.inquiry-mail::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    background: url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}

/* footer */
.footer{
    height: 100px;
    background-color: #e5e5e5;
}

.footer__text{
    text-align: center;
    line-height: 100px;
    color: rgb(91, 91, 91);
    margin: auto;
    font-size: 15px;
    font-weight: 510;
}
